@import 'reset_css';

body {

	.header {
		background-image: url(../header_img.png);
		background-size: cover;
		width: auto;
		height: 690px;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		text-align: center;
		
	}
	.about {
		padding-top: 100px;
		padding-bottom: 100px;
		text-align: center;
		img {
			float: center;
			position: relative;
		}
		.about-text {
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left:  0;
			right: 0;
			text-align: center;
			top: 750px;
			h1 {
				font-size: 30px;
				padding-bottom: 30px;
			}
			h3 {
				line-height: 25px;
			}

		}	
	}
	.services {
		background-image: url("../services_bg.png");
		background-size: cover;
		text-align: center;
		img {
			float: center;
			position: relative;
			padding-top: 100px;
			padding-bottom: 100px;
		}
		.services-text {
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			text-align: center;
			top: 1260px;
		}
		h1 {
			padding-bottom: 30px;
			font-size: 30px;
		}
		h3 {
			line-height: 25px;
		}
	}
}

		